.results {
  position: relative;

  .container {
    padding-top: 150px;
    background-image: url(../../assets/img/wooman_2.jpg);
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: top center;
  }

  &__title-wrap {
    display: flex;

    h2 {
      text-align: right;
      margin: 0  180px 96px auto;
      display: inline-block;
    }
  }

  &__numbers-list li {
    margin-bottom: 145px;

    &:first-child .results__numbers-description {
      right: -2px;
      transform: translateY(15px);
    }

    &:nth-child(2) {
      .results__numbers {
        margin-left: 50%;
        transform: translateX(-50%);

        &-description {
          bottom: 10px;
          transform: translateY(25px);
        }
      }
    }

    &:last-child .results__numbers-description {
      transform: translateY(50%);
      bottom: 50%;
      right: -40px;

    }
  }

  &__numbers {
    position: relative;
    display: inline-block;
    font-size: 200px;
    font-weight: 800;
    line-height: 142px;
    color: $gold;

    &-description {
      display: block;
      font-size: 18px;
      font-weight: bold;
      color: #000;
      position: absolute;
      line-height: 34px;
      bottom: 0;
    }
  }

  .paragraph {
    max-width: 385px;
    margin: 0 auto;
  }

  .aside-block {
    transform: rotate(90deg) translateY(-150px);
    bottom: 100px;
    width: 700px;
  }

  .aside-block__sub-text {
    left: 0;
    white-space: nowrap;
  }

}